<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>salim</title>
</head>

<body style="margin:0;padding:0;width: 100%;background-color: #f7f7f7;">
    <div style="margin:0;padding:0">
        <table border="0" cellpadding="0" cellspacing="0" width="660" style="margin: 0 auto;">
            
            <%- header %> 

            <!-- user name and id dtl -->
            <tbody>
                <tr>
                    <td align="center" style="padding:0 15px 0 15px">
                        <table border="0" cellpadding="0" cellspacing="0" width="660">
                            <tbody>
                                <tr>
                                    <td
                                        style="background-color:#ffffff;padding-left:30px;font-size:13px;font-family:Arial,Helvetica,'Helvetica Neue',sans-serif;color:#000;font-weight: 700;padding-top:15px;padding-bottom:10px;width:50%;">
                                        User Name<span style="font-weight: 500;"> kalpit</span>
                                    </td>
                                    <td style="background-color:#ffffff;padding-left:30px;text-align:right;padding-right:15px;font-size:13px;font-family:Arial,Helvetica,'Helvetica Neue',sans-serif;color:#000;font-weight: 700;width:50%;padding-top:8px;padding-bottom:10px;"
                                        align="center">
                                        Email<span style="font-weight: 500;"> info@gmail.com</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding:0 15px 0 15px">
                                        <table border="0" cellpadding="0" cellspacing="0" width="660">
                                            <tbody>
                                                <tr>
                                                    <td style="background-color:#ffffff;padding-left:30px;text-align:left;padding-right:15px;font-size:13px;font-family:Arial,Helvetica,'Helvetica Neue',sans-serif;color:#777777;padding-top:8px;padding-bottom:15px;line-height:18px;"
                                                        align="center">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                        eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim veniam,
                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                        commodo
                                                        consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                        velit esse
                                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                        cupidatat non
                                                        proident, sunt in culpa qui officia deserunt mollit anim id est
                                                        laborum.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- visut our website and report -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding:0 15px 0 15px">
                                        <table border="0" cellpadding="0" cellspacing="0" width="660">
                                            <tbody>
                                                <tr>
                                                    <td
                                                        style="background-color:#ffffff;padding-left:30px;font-size:13px;font-family:Arial,Helvetica,'Helvetica Neue',sans-serif;color:#777777;padding-top:16px;padding-bottom:15px;border-top:1px solid #eeeeee">
                                                        For T&amp;C and fare details,<a
                                                            style="text-decoration:none;color:#5d93bb"
                                                            href=" javascript:void(0);"> visit our website</a>
                                                    </td>
                                                    <td style="background-color:#ffffff;padding-right:15px;font-size:13px;font-family:Arial,Helvetica,'Helvetica Neue',sans-serif;color:#777777;padding-top:16px;padding-bottom:15px;border-top:1px solid #eeeeee;text-align: center;"
                                                        align="center">
                                                        Didn't make this booking?<a
                                                            style="text-decoration:none;color:#5d93bb"
                                                            href="javascript:void(0);"><span> Report it</span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
           <%- footer %> 
        </table>
    </div>
</body>
</html>